.form>label{
	display: inline-block;
	padding-top: 20px;
}
.register input[type="radio"] {
	margin-left: 16px;
	width: auto;
	min-width: 0px;
}
@keyframes rotateAnimation {
	from {transform: rotate(0deg)}
	to {transform: rotate(180deg)}
}